# Environment
.env
__pycache__/
*.pyc
.venv/
venv/

# Vector DB
chroma_db/

# Uploads
data/uploads/*
!data/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
implementation_plan.md
Vision_Transformer_research paper.pptx
webapp/data/uploads/*
uploaded_docs/*
webapp/HOW_TO_RUN.txt
webapp.zip